

/* nav div { 
    display: inline-block,
}*/


/*nav * {
    display: flex;
    margin: 0 2px; 
    /* top right bottom left }*/

/*

.option {

    display: inline-block;

}*/



/*header {
    display: inline-block;
    flex-direction: row-reverse;
}*/

/*
#container {
    width: 100%;
    border: 2px solid black;
    font-size: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(173, 246, 91);
}*/


body {
    margin: 8px 16px 8px 16px;
}

#navbar {
    padding: 20px; 
}

.button-options {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-bottom: 20px;
    justify-content: space-around;
    
}

#container-main {
    display: grid;
    grid-template-columns: auto 30% 35%;
    grid-template-rows: auto auto;
    grid-template-areas: 
        "container-image container-paragraphe container-paragraphe"
        "container-image container-short-paragraphe container-video";
}

.container-image {
    grid-area: container-image;
    margin: 20px;
    padding: 10px;
    text-align: center;
    height: 500px; /* Ajusta la altura deseada */
    display: flex;
    justify-content: center;
}

.container-image img {
    width: 80%;
    height: 70%;
    border-radius: 5%;
    align-items: center;
    
}

.container-paragraphe {
    grid-area: container-paragraphe;
    margin: 20px;
    padding: 10px;
    font-family: 'Kanit', sans-serif;
    text-align: justify;
}

.container-short-paragraphe {
    grid-area: container-short-paragraphe;
    margin: 0px 20px 20px 20px;
    padding: 10px;
    font-family: 'Kanit', sans-serif;
    text-align: justify;
}

.container-video {
    grid-area: container-video;
    width: 400px;
    height: 300px;
    margin: 0px 0px 0px 30px;
    padding: 10px;
    border-radius: 5%;
}

.grid-container {
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 100%;
    grid-template-areas: 
        "form image-1 image-2 image-3";
}

.form-container {
    display: flex;
    flex-direction: column;
    height: auto;
    grid-area: "form";
    margin-right: 40px ;
}


.grid-container img {
    width: auto;
    height: 100%;
    max-width: 80%;
    justify-content: space-around;
    border-top-right-radius: 5%;
}


#image1 {
    grid-area: image-1;
}

#image2 {
    grid-area: image-2;
}

#image3 {
    grid-area: image-3;
}



#section-project-flex {
    display: flex;
    flex-direction: row;
    background-color: #95f2b7;
    margin: 50px;
    padding: 100px;
    border-radius: 5%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);

}

#grid-android-column-1 {
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: auto 30% 15% 40%;
    grid-template-areas:
        "title-features"
        "android-text"
        "android-button"
        "android-features-img";
    place-items: center;
}

#grid-android-column-1 * {
    margin: 30px;
}



#android-relative-column {
    position: relative;
    right: 100px;
}

#android-img-with-green-bg img{
    position: relative;
    left: 270px;
    top: 50px;
    width: 60%;
    border-radius: 5%;
    
}

#text-android-with-green-bg {
    position: relative;
    left: 300px;
    top: 100px;
    grid-area: "second-text-android-features"; 
    width: 50%; 
    text-align: justify;

}